extends ./layout.pug
block title
    title login
    form#start-screen
      input#id(placeholder='Input name', autofocus)
      input#pw(placeholder='Input password', autofocus)
      button#start Start
block content
    div Creator:Jeo