extends ./layout.pug
block title
    title Turn game
block content
    form#start-screen
      input#name-input(placeholder='Input hero name', autofocus)
      button#start Start
    #screen
      #hero-stat
        span#hero-name
        span#hero-level
        span#hero-hp
        span#hero-xp
        span#hero-att
      form#game-menu(style='display:none;')
        #menu-1 1.Adventure
        #menu-2 2.Rest
        #menu-3 3.Exit
        input#menu-input(name='menuInput')
        button#menu-button Iput
      form#battle-menu(style='display:none;')
        #battle-1 1.Attack
        #battle-2 2.Recovery
        #battle-3 3.Exit
        input#battle-input(name='battleInput')
        button#battle-button Input
      #message
      #monster-stat
        span#monster-name
        span#monster-hp
        span#monster-att